<header class="site-header">
  <a href="http://darshitgupta.xyz"><img src="../assets/img/logo.png" alt="Darshit Gupta" width="40%"></a>
  <div class="contact">
    <div class="contact-details">
      <h3>SAY HELLO</h3>
      <div class="email">
        <a class="mailto" href="mailto:darshitgupta777@gmail.com">darshitgupta777@gmail.com</a>
      </div>
      <div class="phone">
        <a href="tel:07737170916">+91-7737170916</a>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-todo></app-todo>
    </div>
  </div>
</div>
